/*{
    border: 3px solid black;
}*/

body{
    margin: auto;
    min-height: 100vh; 
}

/* header part */

#head{
    background-color: #1f2937;
    margin: 0;
}

.header{
    display: flex;
    flex: 1;
    margin: 1px 10vw 0px 10vw;
    padding: 1vh;
    max-height: 82px;   
    justify-content: space-between;
    background-color: #1f2937; 
}

.H_right{
    display: flex;
    padding: 1vh;
    align-items: baseline;
    font-size: 24px;
    
}
 
.H_left{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 6px;
    gap: 14px;
}

a , .header{
    text-decoration: none;
    color: #f9faf8;
}

/*CONTENT PART */
.content{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    margin-top: 0;
}

/* con1 part */

.con1{
    display: flex;
    color: #f9faf8;
    flex: 1;
    margin: 1px 10vw 1px 10vw;    
    padding: 1vh;   
    justify-content: space-between;
    background-color: #1f2937;
}

.con1 button{
    font-size: 12px;
    border-radius: 16px;
    width: fit-content;
    padding: 6px 12px 6px 12px;
    color: #f9faf8;
    background-color:rgba(0, 60, 255, 0.774);
    border: none;
    cursor: pointer;
    
}

img{
    display: flex;
    flex:1 2 0;
    max-width: 350px;
    max-height: 350px;
}

.con1-b1{

    display: flex;
    flex-direction: column;
    width: 450px;
    font-size: 48px;
    
}
.con1 p{
    font-size: 18px;
}

/* con2 part */

.con2{
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
}

.con2-b1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f2937;
    font-weight: 800;
    font-size: 36px;
    padding: 16px;
}

.con2-b2{
    display: flex;
    margin: 16px 12vw 64px 12vw;
    align-items: center;
    justify-content: center;
    gap: 26px;
    text-align: center;
}
.con2-b2 img{
    max-width: 160px;
    max-height: 160px;
    border: 3px solid rgb(7, 155, 241);
    border-radius: 10%;
}

.r-img{
    width: 160px;
    
}

.r-img p{
    margin-top: 1px;
}

/* con3 part */

.con3{
    display: flex;
    background-color: #e5e7eb;
}

.con3-b1{
    display: flex;
    flex-direction: column;
    margin: 64px 12vw 64px 12vw;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    
}

.auth-n{
    font-size: 28px;
    margin: 0 0 0 70%;
}

/* con4 part */
 
.con4{
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    
    
}

.con4-b1{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 36px;
    background-color: #3882f6;
    align-items: center;
    padding: 6px 12px 6px 12px;
    gap: 64px;
    border-radius: 12px;
    color: #f9faf8; 
}

.con4 .t1{
    margin-top: 16px;
    margin-bottom: 1px;
    font-size: 24px;
    font-weight: 500;
}

.con4 .t2{
    margin-top: 1px;
    margin-bottom: 16px;
    font-size: 14px;
}

.con4 button{
    font-size: 12px;
    border: 2px  solid #e5e7eb;
    border-radius: 16px;
    width: fit-content;
    padding: 6px 12px 6px 12px;
    color: #f9faf8;
    background-color:rgba(0, 60, 255, 0.774);
    
}



/* footer part*/ 

.footer{
    background-color: #1f2937;   
   display: flex;
   color: #f9faf8;
   align-items: center;
   justify-content: center;
   margin-top: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
}